*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #1e1e1e;
  color: #ddd;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  position: relative;
  padding: 1.6em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.title::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 3px;
  height: 20%;
  -webkit-transform: translate(-20px, -50%);
          transform: translate(-20px, -50%);
  background: gold;
}

.nav-section {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 15;
}

.nav-section .nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.nav-section .nav__logo {
  padding: 0.6em;
  font-family: 'Pinyon Script', cursive;
}

.nav-section .nav__logo a {
  margin-left: 0.5em;
  font-size: clamp(3.8rem, 6vw, 7rem);
  color: #ddd;
  text-decoration: none;
}

.nav-section .nav__navbar {
  display: none;
  margin-right: 1em;
  text-transform: uppercase;
}

.nav-section .nav__navbar .navbar-link {
  position: relative;
  padding: 1.4rem 1rem;
  font-size: clamp(1.6rem, 2vw, 2rem);
  color: #ddd;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.nav-section .nav__navbar .navbar-link:hover {
  color: gold;
}

.nav-section .nav__navbar .navbar-link::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 0;
  background-color: gold;
  width: 0;
  height: 1px;
  -webkit-transition: background-color 0.4s, width 0.4s;
  transition: background-color 0.4s, width 0.4s;
}

.nav-section .nav__navbar .navbar-link:hover::before {
  width: 100%;
  background-color: gold;
}

.nav-section .nav__navbar .active {
  color: gold;
}

.nav-section .nav__burger-btn {
  padding: 1em;
  background: none;
  border: none;
  z-index: 10;
}

.nav-section .nav__burger-btn i {
  font-size: 2.2rem;
  color: #ddd;
}

.nav-section .nav__burger-btn:active i {
  color: gold;
}

.nav-section .nav__mobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  top: 0;
  right: 0;
  background-color: black;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  z-index: 50;
}

.nav-section .nav__mobile img {
  margin-left: 2em;
  width: 25%;
  max-width: 200px;
  height: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-section .nav__mobile-btn {
  margin-top: 1em;
  padding: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: none;
  border: none;
  color: #ddd;
}

.nav-section .nav__mobile-btn i {
  font-size: 2.4rem;
}

.nav-section .nav__mobile-btn i:active {
  color: gold;
}

.nav-section .nav__mobile-links {
  padding: 1em;
  list-style: none;
}

.nav-section .nav__mobile-links li {
  padding: 1em 0;
}

.nav-section .nav__mobile-links .mobile-link {
  padding: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ddd;
}

.nav-section .nav__mobile-links .mobile-link:active {
  color: gold;
}

@-webkit-keyframes openNavAnimation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes openNavAnimation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes closeNavAnimation {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes closeNavAnimation {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

.openNavAnimation {
  -webkit-animation: openNavAnimation 1s both;
          animation: openNavAnimation 1s both;
}

.closeNavAnimation {
  -webkit-animation: closeNavAnimation 1s both;
          animation: closeNavAnimation 1s both;
}

.header {
  position: relative;
  top: 0;
  height: calc(100vh - 85px);
  scroll-margin-top: 84px;
}

.header__image {
  width: 100%;
  height: 100%;
  background-image: url("../photos/headerimg.jpg");
  background-position: center;
  background-size: cover;
}

.header__shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__text-title, .header__text-description {
  margin: 3rem;
  font-style: italic;
  text-shadow: 2px 2px 4px black;
}

.header__text-title {
  font-size: clamp(2.8rem, 6vw, 5.2rem);
  font-weight: normal;
}

.header__text-description {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
}

.main__aboutus {
  scroll-margin-top: 84px;
}

.main__about-text {
  padding: 0 1em;
}

.main__photos {
  scroll-margin-top: 84px;
}

.main__gallery {
  position: relative;
  background-image: url("../photos/hair-salon-big.jpg");
  background-position: center;
  background-size: cover;
  z-index: 5;
}

.main__gallery-img {
  margin: 1em 0.5em;
  padding: 1em;
  border-radius: 6px;
}

.main__gallery-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 20px 1px black;
          box-shadow: 0 0 20px 1px black;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.main__gallery-img img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main__gallery-link {
  margin-top: 0.3em;
  margin-right: 1em;
  text-align: right;
}

.main__gallery-link a {
  text-transform: uppercase;
  color: gold;
  display: inline-block;
  text-decoration: none;
}

.main__gallery-link a::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: gold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__gallery-link a:hover::after {
  width: 100%;
}

.main__gallery::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.main__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1em 1em;
}

.main__slick-btn {
  background: none;
  padding: 0.3em 1em;
  color: #ddd;
  border: none;
  -webkit-box-shadow: 0 0 4px #ddd;
          box-shadow: 0 0 4px #ddd;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.main__slick-btn--pause, .main__slick-btn--play {
  margin: 0.5em;
  margin-right: 0;
  font-size: 1rem;
  padding: 0.2em 0.6em;
}

.main__slick-btn--play:focus, .main__slick-btn--pause:focus, .main__slick-btn:active {
  background-color: #333;
  color: gold;
}

.main__reviews {
  scroll-margin-top: 84px;
}

.main__review-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__review {
  margin: 1em;
  padding: 1em;
  height: 100%;
  background-color: black;
  font-style: italic;
  border-radius: 5px;
}

.main__review figcaption {
  font-weight: bold;
}

.footer-section {
  background-color: black;
}

.footer-section .footer__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.2em;
}

.footer-section .footer__title {
  margin: 1em;
  text-align: center;
}

.footer-section .footer__title--first {
  margin-top: 0;
}

.footer-section .footer__contact {
  padding: 1em;
}

.footer-section .footer__contact p {
  padding: 0.2em;
}

.footer-section .footer__contact p a {
  color: gold;
  display: inline-block;
  text-decoration: none;
}

.footer-section .footer__contact p a::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: gold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-section .footer__contact p a:hover::after {
  width: 100%;
}

.footer-section .footer__contact .fas {
  padding-right: 0.4em;
  font-size: 1.4rem;
}

.footer-section .footer__social-media img {
  width: 2.2em;
  border-radius: 50%;
  margin: 0 auto;
}

.footer-section .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-section .footer__links a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer-section .footer__links a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-section .footer__text-box {
  width: 100%;
  border-top: 1px solid grey;
}

.footer-section .footer__text {
  text-align: center;
  padding: 1em;
}

.contact {
  padding: 1em;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__title {
  padding: 1.4em;
  text-transform: uppercase;
  text-align: center;
}

.contact__address {
  font-weight: bold;
}

.contact__get-in-touch p {
  padding: 0.2em;
}

.contact__get-in-touch p a {
  color: gold;
  display: inline-block;
  text-decoration: none;
}

.contact__get-in-touch p a::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: gold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__get-in-touch p a:hover::after {
  width: 100%;
}

.contact__facebook {
  margin: 1em 1em 1em 0;
}

.contact__facebook img {
  margin-right: 0.5em;
  width: 2rem;
  height: 100%;
  border-radius: 50%;
}

.contact__box {
  position: relative;
  min-width: 16em;
  max-width: 40em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50%;
  width: 100%;
}

.contact__box-form label {
  padding-top: 0.6em;
}

.contact__box-form label:first-child {
  padding-top: 0.2em;
}

.contact__box-form label span {
  font-size: 1.2rem;
}

.contact__box-form input,
.contact__box-form textarea {
  margin: 0.5em 0;
  padding: 0.4em;
  font-family: 'Montserrat';
  background: none;
  border: none;
  border-bottom: 1px solid gold;
  color: #ddd;
}

.contact__box-form input:-webkit-autofill,
.contact__box-form input:-webkit-autofill:hover,
.contact__box-form input:-webkit-autofill:focus,
.contact__box-form input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 30px #1e1e1e inset;
}

.contact__box-form input:-webkit-autofill {
  -webkit-text-fill-color: #ddd;
}

.contact__box-form input::-webkit-outer-spin-button,
.contact__box-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact__box-form input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

.contact__box-form textarea {
  resize: vertical;
  min-height: 2.2em;
  max-height: 35vh;
}

.contact__box-form .error-info,
.contact__box-form .error-email {
  display: none;
  padding-top: 0.4em;
  color: tomato;
}

.contact__box-form .error-outline {
  border: 3px solid tomato;
}

.contact__box-form .submit-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.8em;
  margin: 1em 0 1em;
  width: 7em;
  font-weight: bold;
  border: none;
  background-color: gold;
  color: black;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact__box-form .submit-btn:hover {
  background-color: #8f833e;
}

.contact__box-modal {
  visibility: hidden;
  position: absolute;
  padding: 1em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 6px;
}

.contact__box-modal p {
  color: black;
}

.contact__box-modal svg {
  width: 30px;
  display: block;
  margin: 10px auto 0;
}

.contact__map {
  width: 100%;
  height: 500px;
}

.contact__map iframe {
  width: 100%;
  height: 85%;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.check {
  stroke-dashoffset: -100;
}

.active-dash-circle {
  -webkit-animation: dash 1.4s ease-in-out;
          animation: dash 1.4s ease-in-out;
}

.active-check {
  -webkit-animation: dash-check 1.4s 0.35s ease-in-out forwards;
          animation: dash-check 1.4s 0.35s ease-in-out forwards;
}

.success {
  color: #2c8300;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.animate-guide-left {
  -webkit-animation: 0.7s guideLeft forwards;
          animation: 0.7s guideLeft forwards;
}

.animate-guide-right {
  -webkit-animation: 0.7s guideRight forwards;
          animation: 0.7s guideRight forwards;
}

@-webkit-keyframes guideLeft {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes guideLeft {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes guideRight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes guideRight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .nav-section .nav__mobile img {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .contact__form {
    width: 70%;
  }
  .contact__box {
    margin: 0 2em;
  }
}

@media (min-width: 768px) {
  .nav-section .nav__navbar {
    display: block;
  }
  .nav-section .nav__mobile {
    display: none;
  }
  .nav-section .nav__burger-btn {
    display: none;
  }
  .main__slick-btn:hover {
    background-color: #333;
    color: gold;
  }
  .main__review {
    width: 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section .footer__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-section .footer__links {
    width: auto;
  }
}

@media (min-width: 992px) {
  .contact__form {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .nav-section .nav__navbar .navbar-link {
    padding: 1.4rem;
  }
}
/*# sourceMappingURL=main.css.map */