@import 'mixinHover';
@import 'mixinColors';
// RESET **********
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(30, 30, 30);
	color: $light;
}

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
// h2 title for all pages *****
.title {
	position: relative;
	padding: 1.6em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
.title::before {
	content: '';
	position: absolute;
	top: 50%;
	width: 3px;
	height: 20%;
	transform: translate(-20px, -50%);
	background: $gold;
}

// NAV section **********

.nav-section {
	position: sticky;
	top: 0;
	background-color: $black;
	z-index: 15;
	.nav {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 85px;
		&__logo {
			padding: 0.6em;
			font-family: 'Pinyon Script', cursive;
			a {
				margin-left: 0.5em;
				font-size: clamp(3.8rem, 6vw, 7rem);
				color: $light;
				text-decoration: none;
			}
		}
		&__navbar {
			display: none;
			margin-right: 1em;
			text-transform: uppercase;
			.navbar-link {
				position: relative;
				padding: 1.4rem 1rem;
				font-size: clamp(1.6rem, 2vw, 2rem);
				color: $light;
				text-decoration: none;
				transition: color 0.4s;
				&:hover {
					color: $gold;
				}
				&::before {
					content: '';
					position: absolute;
					bottom: 8px;
					left: 0;
					background-color: $gold;
					width: 0;
					height: 1px;
					transition: background-color 0.4s, width 0.4s;
				}
				&:hover::before {
					width: 100%;
					background-color: $gold;
				}
			}
			.active {
				color: gold;
			}
		}
		&__burger-btn {
			padding: 1em;
			background: none;
			border: none;
			z-index: 10;
			i {
				font-size: 2.2rem;
				color: $light;
			}
			&:active {
				i {
					color: $gold;
				}
			}
		}
		&__mobile {
			position: fixed;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-around;
			width: 100%;
			top: 0;
			right: 0;
			background-color: $black;
			transform: translateX(100%);
			opacity: 0;
			z-index: 50;
			img {
				margin-left: 2em;
				width: 25%;
				max-width: 200px;
				height: 20%;
				align-self: center;
				transform: rotate(90deg);
			}
		}
		&__mobile-btn {
			margin-top: 1em;
			padding: 1em;
			align-self: flex-start;
			background: none;
			border: none;
			color: $light;
			i {
				font-size: 2.4rem;
				&:active {
					color: $gold;
				}
			}
		}
		&__mobile-links {
			padding: 1em;
			list-style: none;
			li {
				padding: 1em 0;
			}
			.mobile-link {
				padding: 0.7em;
				text-decoration: none;
				text-transform: uppercase;
				color: $light;
			}
			.mobile-link:active {
				color: $gold;
			}
		}
	}
}

// mobile nav animation **********

@keyframes openNavAnimation {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes closeNavAnimation {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}
.openNavAnimation {
	animation: openNavAnimation 1s both;
}
.closeNavAnimation {
	animation: closeNavAnimation 1s both;
}

// HEADER section **********

.header {
	position: relative;
	top: 0;
	height: calc(100vh - 85px);
	scroll-margin-top: 84px;
	&__image {
		width: 100%;
		height: 100%;
		background-image: url('../photos/headerimg.jpg');
		background-position: center;
		background-size: cover;
	}
	&__shadow {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}
	&__text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&-title,
		&-description {
			margin: 3rem;
			font-style: italic;
			text-shadow: 2px 2px 4px black;
		}
		&-title {
			font-size: clamp(2.8rem, 6vw, 5.2rem);
			font-weight: normal;
		}
		&-description {
			font-size: clamp(1.6rem, 2vw, 2.2rem);
		}
	}
}

// MAIN section **********
.main {
	&__aboutus {
		scroll-margin-top: 84px;
	}
	&__about-text {
		padding: 0 1em;
	}
	&__photos {
		scroll-margin-top: 84px;
	}
	&__gallery {
		position: relative;
		background-image: url('../photos/hair-salon-big.jpg');
		background-position: center;
		background-size: cover;
		z-index: 5;
		&-img {
			margin: 1em 0.5em;
			padding: 1em;
			border-radius: 6px;
			img {
				object-fit: cover;
				width: 100%;
				max-width: 100%;
				height: 100%;
				box-shadow: 0 0 20px 1px black;
				border: 1px solid black;
				border-radius: 5px;
				transition: transform 0.3s;
				&:hover {
					transform: scale(1.15);
				}
			}
		}
		&-link {
			margin-top: 0.3em;
			margin-right: 1em;
			text-align: right;
			a {
				text-transform: uppercase;
				@include hover;
			}
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
	&__buttons-box {
		display: flex;
		justify-content: space-between;
		margin: 0 1em 1em;
	}
	&__slick-btn {
		background: none;
		padding: 0.3em 1em;
		color: $light;
		border: none;
		box-shadow: 0 0 4px $light;
		border-radius: 3px;
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;
		&--pause,
		&--play {
			margin: 0.5em;
			margin-right: 0;
			font-size: 1rem;
			padding: 0.2em 0.6em;
		}
		&--play:focus,
		&--pause:focus,
		&:active {
			background-color: $dark;
			color: gold;
		}
	}
	&__reviews {
		scroll-margin-top: 84px;
	}
	&__review-box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__review {
		margin: 1em;
		padding: 1em;
		height: 100%;
		background-color: $black;
		font-style: italic;
		border-radius: 5px;
		figcaption {
			font-weight: bold;
		}
	}
}

// FOOTER section **********

.footer-section {
	background-color: $black;
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			padding: 1.2em;
		}
		&__title {
			margin: 1em;
			text-align: center;
			&--first {
				margin-top: 0;
			}
		}
		&__contact {
			padding: 1em;
			p {
				padding: 0.2em;
				a {
					@include hover;
				}
			}

			.fas {
				padding-right: 0.4em;
				font-size: 1.4rem;
			}
		}
		&__social-media {
			img {
				width: 2.2em;
				border-radius: 50%;
				margin: 0 auto;
			}
		}
		&__links {
			display: flex;
			justify-content: space-evenly;
			a {
				transition: transform 0.3s;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
		&__text-box {
			width: 100%;
			border-top: 1px solid grey;
		}
		&__text {
			text-align: center;
			padding: 1em;
		}
	}
}

// subpage CONTACT **********
.contact {
	padding: 1em;
	&__container {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	&__title {
		padding: 1.4em;
		text-transform: uppercase;
		text-align: center;
	}
	&__address {
		font-weight: bold;
	}
	&__get-in-touch {
		p {
			padding: 0.2em;
			a {
				@include hover;
				
			}
		}
	}
	&__facebook {
		margin: 1em 1em 1em 0;
		img {
			margin-right: 0.5em;
			width: 2rem;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__box {
		position: relative;
		min-width: 16em;
		max-width: 40em;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		&-form {
			display: flex;
			flex-direction: column;
			min-width: 50%;
			width: 100%;
			label {
				padding-top: 0.6em;
				&:first-child {
					padding-top: 0.2em;
				}
				span {
					font-size: 1.2rem;
				}
			}
			input,
			textarea {
				margin: 0.5em 0;
				padding: 0.4em;
				font-family: 'Montserrat';
				background: none;
				border: none;
				border-bottom: 1px solid $gold;
				color: $light;
			}
			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus,
			input:-webkit-autofill:active {
				box-shadow: none;
				-webkit-box-shadow: 0 0 0 30px rgb(30, 30, 30) inset;
			}
			input:-webkit-autofill {
				-webkit-text-fill-color: $light;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			input[type='number'] {
				-moz-appearance: textfield; /* Firefox */
			}
			textarea {
				resize: vertical;
				min-height: 2.2em;
				max-height: 35vh;
			}
			.error-info,
			.error-email {
				display: none;
				padding-top: 0.4em;
				color: tomato;
			}
			.error-outline {
				border: 3px solid tomato;
			}
			.submit-btn {
				align-self: flex-end;
				padding: 0.8em;
				margin: 1em 0 1em;
				width: 7em;
				font-weight: bold;
				border: none;
				background-color: $gold;
				color: $black;
				transition: background-color 0.5s;
				&:hover {
					background-color: rgb(143, 131, 62);
				}
			}
		}
		&-modal {
			visibility: hidden;
			position: absolute;
			padding: 1em;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: #fff;
			border: 1px solid $dark;
			border-radius: 6px;
			p {
				color: $black;
			}
			svg {
				width: 30px;
				display: block;
				margin: 10px auto 0;
			}
		}
	}
	&__map {
		width: 100%;
		height: 500px;
		iframe {
			width: 100%;
			height: 85%;
		}
	}
}
// MODAL **********
.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	&.check {
		stroke-dashoffset: -100;
	}
}
.active-dash-circle {
	animation: dash 1.4s ease-in-out;
}
.active-check {
	animation: dash-check 1.4s 0.35s ease-in-out forwards;
}

.success {
	color: #2c8300;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
.animate-guide-left {
	animation: 0.7s guideLeft forwards;
}
.animate-guide-right {
	animation: 0.7s guideRight forwards;
}
@keyframes guideLeft {
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes guideRight {
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

// MEDIA queries **********

@media (min-width: 576px) {
	.nav-section {
		.nav {
			&__mobile {
				img {
					transform: rotate(0);
				}
			}
		}
	}
	.contact {
		&__form {
			width: 70%;
		}
		&__box {
			margin:0 2em;
		}
	}
}
@media (min-width: 768px) {
	.nav-section {
		.nav {
			&__navbar {
				display: block;
			}
			&__mobile {
				display: none;
			}
			&__burger-btn {
				display: none;
			}
		}
	}
	.main {
		&__slick-btn:hover {
			background-color: $dark;
			color: $gold;
		}
		&__review {
			width: 45%;
			align-items: center;
		}
	}
	.footer-section {
		.footer {
			&__boxes {
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
			}
			&__links {
				width: auto;
			}
		}
	}
}
@media (min-width: 992px) {
	.contact {
		&__form {
			width: 70%;
		}
	}
}
@media (min-width: 1200px) {
	.nav-section {
		.nav {
			&__navbar {
				.navbar-link {
					padding: 1.4rem;
				}
			}
		}
	}
}
