@import 'mixinHover';
@import 'mixinColors';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background-color: $body;
	color: $light;
	overflow-x: clip;
}
.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
// h2 title for all pages *****
.title {
	position: relative;
	padding: 1.6em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
.title::before {
	content: '';
	position: absolute;
	top: 50%;
	width: 3px;
	height: 20%;
	transform: translate(-20px, -50%);
	background: $gold;
}

// NAV section **********

.nav-section {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: $black;
	z-index: 15;
	transition: top 0.3s ease-out;
	box-shadow: 0 1px 2px rgb(30, 30, 30);
	.nav {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 8.5rem;
		&__logo {
			padding: 0.6em;
			font-family: 'Pinyon Script', cursive;
			a {
				margin-left: 0.5em;
				font-size: clamp(3.8rem, 6vw, 7rem);
				color: $light;
				text-decoration: none;
			}
		}
		&__navbar {
			display: none;
			margin-right: 1em;
			text-transform: capitalize;
			.navbar-link {
				position: relative;
				padding: 1.4rem 1rem;
				font-size: clamp(1.8rem, 2vw, 2.1rem);
				color: $light;
				text-decoration: none;
				transition: color 0.4s;
				&:hover {
					color: $gold;
				}
			}
			.active {
				color: $gold;
			}
		}
		&__burger-btn {
			padding: 1em;
			margin-right: 1em;
			background: none;
			border: none;
			z-index: 10;
			transition: filter 0.3s;
			cursor: pointer;
			&:hover {
				filter: invert(0.5) sepia(1) saturate(6) hue-rotate(22deg)
					brightness(110%);
			}
		}

		&__mobile {
			position: fixed;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-around;
			width: 100%;
			top: 0;
			right: 0;
			background-color: $black;
			transform: translateX(100%);
			opacity: 0;
			z-index: 50;
			&--img {
				margin-left: 2em;
				width: 25%;
				max-width: 200px;
				height: 20%;
				align-self: center;
				transform: rotate(90deg);
			}
		}
		&__mobile-btn {
			margin-top: 1.4em;
			padding: 0.5em;
			align-self: flex-start;
			background: none;
			border: none;
			color: $light;
			cursor: pointer;
			img {
				font-size: 3.8em;
				transition: filter 0.3s;
				&:active {
					color: $gold;
				}
				&:hover {
					filter: invert(0.5) sepia(1) saturate(6) hue-rotate(20deg)
						brightness(110%);
				}
			}
		}
		&__mobile-links {
			padding: 1em;
			list-style: none;
			li {
				padding: 1em 0;
			}
			.mobile-link {
				padding: 0.7em;
				text-decoration: none;
				text-transform: capitalize;
				color: $light;
			}
			.mobile-link:active {
				color: $gold;
			}
		}
	}
}

// mobile nav animation **********

@keyframes openNavAnimation {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes closeNavAnimation {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}
.openNavAnimation {
	animation: openNavAnimation 1s both;
}
.closeNavAnimation {
	animation: closeNavAnimation 1s both;
}

// HEADER section **********

.header {
	position: relative;
	top: 0;
	height: calc(100vh - 85px);
	&__image {
		width: 100%;
		height: 100%;
		background-image: url('../img/header-img-small.jpg');
		background-position: center;
		background-size: cover;
	}
	&__shadow {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.35);
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		&--title,
		&--description {
			width: 90vw;
			margin: 3rem;
			font-style: italic;
			text-shadow: 2px 2px 4px black;
		}
		&--title {
			font-size: clamp(2.3rem, 6vw, 5.2rem);
			font-weight: normal;
		}
		&--description {
			font-size: clamp(1.6rem, 2vw, 2.2rem);
		}
	}
}

// MAIN section **********
.main {
	overflow: clip;
	&__about-us {
		background-color: $black;
	}
	&__about-us-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		padding-bottom: 1em;
	}
	&__about-text {
		width: 100%;
		padding: 1.5em;
		background-color: $body;
		&--title {
			padding-bottom: 1em;
			text-align: center;
		}
		&--text {
			padding: 0.2em;
			line-height: 21px;
		}
	}
	&__about-services {
		padding: 1.5em 0.8em;
		align-self: center;
		&--title {
			padding-bottom: 1em;
			text-align: center;
		}
		&--list {
			align-self: center;
			list-style: inside square;
			width: 100%;
			li {
				display: flex;
				justify-content: space-between;
				opacity: 0;
				transform: translateX(100%);
				padding: 0.2em;
			}
		}
		.animateServices {
			animation: animateLi 0.7s forwards;
		}
		@keyframes animateLi {
			to {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
	&__gallery {
		position: relative;
		background-image: url('../img/slider-small.jpg');
		background-position: center;
		background-size: cover;
		z-index: 5;
		&--img {
			margin: 1em 0.5em;
			padding: 1em;
			border-radius: 6px;
			img {
				object-fit: cover;
				width: 100%;
				max-width: 100%;
				height: 100%;
				box-shadow: 0 0 20px 1px black;
				border: 1px solid black;
				border-radius: 5px;
				transition: transform 0.3s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		&--link {
			margin-top: 0.3em;
			margin-right: 1em;
			text-align: right;
			a {
				text-transform: uppercase;
				@include hover;
			}
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
	&__buttons-box {
		display: flex;
		justify-content: space-between;
		margin: 0 1em 1em;
		.prev,
		.next {
			display: flex;
		}
	}
	&__slick-btns {
		display: flex;
	}
	&__slick-btn {
		background: none;
		padding: 0.3em 1em;
		color: $light;
		border: none;
		box-shadow: 0 0 4px $light;
		border-radius: 3px;
		transition: background-color 0.3s;
		cursor: pointer;
		&--pause,
		&--play {
			display: flex;
			height: 1.2em;
			margin: 0.5em;
			margin-right: 0;
			padding: 0.2em 0.3em;
			img {
				width: 10px;
				height: 10px;
			}
		}
		&--play:focus,
		&--pause:focus,
		&:active {
			background-color: $dark;
		}
	}
	&__reviews {
		scroll-margin-top: -5px;
	}
	&__review-box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		overflow: hidden;
	}
	&__review {
		margin: 1em;
		padding: 1.5em;
		height: 100%;
		background-color: $black;
		font-style: italic;
		border-radius: 5px;
		opacity: 0;
		figcaption {
			font-weight: bold;
		}
		&:nth-child(even) {
			transform: translateX(200%);
		}
		&:nth-child(odd) {
			transform: translateX(-200%);
		}
		&:last-child {
			transform: translateY(200%);
			margin-bottom: 2em;
		}
	}
	@keyframes reviewsTransform {
		to {
			transform: translate(0);
			opacity: 1;
		}
	}
	.review-animate-left {
		animation: reviewsTransform 1s forwards;
	}
}

// FOOTER section **********

.footer-section {
	background-color: $black;
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			padding: 1.2em;
		}
		&__title {
			margin: 1em;
			text-align: center;
			&--first {
				margin-top: 0;
			}
		}
		&__contact {
			text-align: center;
			padding: 1em;
			p {
				padding: 0.2em;
				a {
					@include hover;
				}
			}
		}
		&__social-media {
			img {
				width: 2.2em;
				border-radius: 50%;
				margin: 0 auto;
			}
		}
		&__links {
			display: flex;
			justify-content: space-evenly;
			a {
				transition: transform 0.3s;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
		&__text-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border-top: 1px solid grey;
		}
		&__text {
			display: inline-block;
			text-align: center;
			padding: 1em;
		}
		&__privacy {
			display: inline-block;
			text-align: left;
			a {
				margin-right: 1em;
				text-decoration: none;
				color: $light;
				transition: color 0.3s;
				&:hover {
					color: white;
				}
			}
		}
	}
}

// subpage CONTACT **********
.contact {
	padding: 1em;
	&__container {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	&__title {
		padding: 1.4em;
		text-transform: uppercase;
		text-align: center;
	}
	&__address {
		display: inline-block;
		font-weight: bold;
	}
	&__get-in-touch {
		p {
			padding: 0.2em;
			a {
				@include hover;
			}
		}
	}
	&__facebook {
		margin: 1em 1em 1em 0;
		img {
			margin-right: 0.5em;
			width: 2rem;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__box {
		position: relative;
		min-width: 16em;
		max-width: 40em;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		&--form {
			display: flex;
			flex-direction: column;
			min-width: 50%;
			width: 100%;
			label {
				padding-top: 0.6em;
				&:first-child {
					padding-top: 0.2em;
				}
				span {
					font-size: 1.2rem;
				}
			}
			input,
			textarea {
				margin: 0.5em 0;
				padding: 0.4em;
				font-family: 'Montserrat';
				background: none;
				border: none;
				border-bottom: 1px solid $gold;
				color: $light;
			}
			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus,
			input:-webkit-autofill:active {
				box-shadow: none;
				-webkit-box-shadow: 0 0 0 30px rgb(30, 30, 30) inset;
			}
			input:-webkit-autofill {
				-webkit-text-fill-color: $light;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			input[type='number'] {
				-moz-appearance: textfield; /* Firefox */
			}
			textarea {
				resize: vertical;
				min-height: 2.2em;
				max-height: 20vh;
			}
		}
	}
	&__policy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.submit-btn {
			position: relative;
			padding: 0.8em;
			margin: 1em 0 1em 1em;
			width: 7em;
			font-weight: bold;
			border: 1px solid transparent;
			background-color: $gold;
			color: $black;
			transition: background-color 0.4s, color 0.4s;
			overflow: hidden;
			cursor: pointer;
			&::before {
				content: '';
				position: absolute;
				top: -50px;
				left: -30px;
				height: 300%;
				width: 15px;
				transform: rotate(45deg);
				box-shadow: 0 0 10px white;
				background-color: rgba(255, 255, 255, 0.6);
				transition: left 0.6s;
			}
			&:hover::before {
				left: 150%;
			}
		}
		.checkbox {
			-webkit-appearance: none;
			background-color: $light;
			border: 1px solid white;
			padding: 6px;
			margin-bottom: 0;
			border-radius: 3px;
			display: inline-block;
			position: relative;
			cursor: pointer;
			&:checked {
				background-color: $gold;
			}
			&:checked:after {
				content: '\2714';
				font-size: 14px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -55%);
				color: black;
			}
		}
		a {
			@include hover;
		}
	}
	&__map {
		width: 100%;
		height: 500px;
		iframe {
			width: 100%;
			height: 85%;
		}
	}
}
// Error 404 subpage *************************
.error {
	background-color: black;
	&__main {
		height: auto;
		border-bottom: 1px solid grey;
	}
	&__text {
		padding: 1em;
		text-align: center;
		font-size: 2rem;
		font-weight: bold;
		padding-bottom: 3em;
	}
	&__img {
		width: 40%;
	}
}

// MEDIA queries **********

@media (min-width: 576px) {
	.footer-section {
		.footer {
			&__contact {
				text-align: left;
			}
		}
	}
	.nav-section {
		.nav {
			&__mobile {
				img {
					transform: rotate(0);
				}
			}
			&__mobile-btn {
				transform: translateX(2em);
			}
		}
	}
	.contact {
		&__form {
			width: 70%;
		}
		&__box {
			margin: 0 2em;
		}
	}
}
@media (min-width: 768px) {
	.nav-section {
		.nav {
			&__navbar {
				display: block;
			}
			&__mobile {
				display: none;
			}
			&__burger-btn {
				display: none;
			}
		}
	}
	.header {
		&__image {
			background-image: url('../img/header-img-large.jpg');
		}
	}

	.main {
		&__about-us {
			padding-bottom: 2em;
		}
		&__about-us,
		&__photos,
		&__reviews {
			scroll-margin-top: 84px;
		}
		&__about-text {
			width: 50%;
			border-radius: 8px;
			padding: 2em;
		}
		&__about-services {
			background-color: $body;
			border-radius: 8px;
			padding: 2em;
		}
		&__about-us-container {
			flex-direction: row;
		}
		&__slick-btn:hover {
			background-color: $dark;
			color: $gold;
		}
		&__review {
			width: 45%;
			align-items: center;
		}
		&__gallery {
			background-image: url('../img/slider-large.jpg');
		}
	}
	.footer-section {
		.footer {
			&__boxes {
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
			}
			&__links {
				width: auto;
			}
			&__info {
				width: 45%;
			}
		}
	}
}
@media (min-width: 992px) {
	.contact {
		&__form {
			width: 70%;
		}
	}
}
@media (min-width: 1200px) {
	.nav-section {
		.nav {
			&__navbar {
				.navbar-link {
					padding: 1.4rem;
				}
			}
		}
	}
	.footer-section {
		.footer {
			&__info {
				width: 30%;
				text-align: center;
			}
		}
	}
}
